body {
    /* background: rgb(23,231,230);
    background: radial-gradient(circle, rgba(23,231,230,1) 59%, rgba(255,255,255,1) 100%); */
    background: rgb(62,46,8);
    background-image: url(../magic/curtains.png), linear-gradient(0deg, rgba(62,46,8,0.9598214285714286) 51%, rgba(189,51,51,0.8729866946778712) 77%);
    background-size: cover;
    background-repeat:no-repeat;
    height: 90vh;
}

@media screen and (max-height: 420px) {
    body {
        height: 150vh;
        background-size: cover;
    }
}
@media screen and (max-width: 420px) {
    body {
        height: 150vh;
        background-size: contain;
    }
}

.title {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    border: 5px solid black;
    background-color: white;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 25px;
}

.ballcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30vw;
    height: 30vw;
}

@media screen and (max-width: 420px) {
    img {
        width: 80vw;
        height: 80vw;
    }
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    border: 3px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

h4 {
    border: 3px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: none;
}

button {
    height: 25px;
    font-weight: 600;
}

.reset {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}


.ballcontainer img {
    animation: zoominout .7s linear;
    animation-iteration-count: 1;
}

@keyframes zoominout {
    0% {
        transform: scale(1,1) rotate(0);
    }
    50% {
        transform: scale(1.1,1.1) rotate(-30deg);
    }
    100% {
        transform: scale(1,1) rotate(0);
    }
}

img {
    animation: zoominoutsinglefeatured 2s infinite ;
}